p {
  display: block;
}

div {
  display: block;
  font-family: Garamond;
}


div3 {
  display: block;
  font-family: Garamond;
}

head {
  display: block;
  text-align: justify;
  margin-top: 2%;
  font-size: 1m;
  font-family: Garamond;
}

argument {
  display: block;
  margin-left: 5%;
  font-style: italic;
  font-size: 90%;
}

header {
  display: none;
}

a {
  font-size: 90%;
  font-style: normal;
  color: green;
}

h1 {
  font-size: 120;
}

h2 {
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}
